.btn-primary {
  background-color: #003b66 !important;
  border-color: #003b66 !important;
}
.btn-primary:hover {
  background-color: #002040 !important;
  border-color: #002040 !important;
}

.btn-danger {
  background-color: #9E2A2B !important;
  border-color: #9E2A2B !important;
}
.btn-danger:hover {
  background-color: #852325 !important;
  border-color: #852325 !important;
}

.btn-success {
  background-color: #018E42 !important;
  border-color: #018E42!important;
}
.btn-success:hover {
  background-color: #007035 !important;
  border-color: #018E42!important;
}
.p-inputnumber-button-up, .p-inputnumber-button-down{
  background-color: #003b66 !important;
  border-color: #003b66 !important;
}