@import "./_variables.scss";
@import "./form.scss";
@import "./buttons.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.margin-top-mob {
  @media (max-width: 991px) {
    margin-top: 32px;
  }
}

.w-100-mob {
  @media (max-width: 991px) {
    width: 100%;
  }
}

.crud-page-title {
  font-family: "Secular One", sans-serif;
  color: #000000c2;
  font-size: 1.5rem;
}
.p-progress-spinner-circle {
  stroke: #003b66 !important;
}